{% extends "layout.html" %}
{% block content %}
    <body>
    <table id="adding">
        <tr>
            <td>
                <h1 class="kacsa">Ask Mate 2.0</h1>
                <form action="/add-question" method="post">
                    <p id="textlabel"><label for="add-question" class="center">Question title:<br></label>
                        <input type="text" name="title" required>
                    </p>
                    <p id="textlabel"><label for="add-question" class="center">Question message:<br></label>
                        <textarea id="add-question" name="message" rows="7" cols="40" required></textarea>
                    </p>
                    <p>
                        <button type="submit" class="center">Add question</button>
                        <a href="/list">
                            <button type="button">BACK</button>
                        </a>
                    </p>
                </form>
            </td>
        </tr>
    </table>
    </body>
{% endblock %}