<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/main.css">
    <title>Ask-Mate</title>
</head>
<body>
<div id="searchbar">
    <form action="/search" method="get">
    <input type="text" placeholder="Search.." name="search_key">
    <input type="submit" value="Let's search!">
    </form>
</div>
      <h1>Ask Mate 2.0</h1>
    <table id="kacsa">
        <tr>
            <th>{{header}}</th>
        </tr>
        <tr>
        <td>{% for question in questions %}
            <p><a href="/question/{{question.id}}" id="list">{{ question.title }}<a></a></p>
            {% endfor %}</td>
        </tr>
    </table>
    <p><a href="{{ url_for('all_questions') }}"><button type="button" class="butt">Show all questions</button></a> </p>
    <p><a href="/add-question"><button type="button" class="butt">Add new question</button></a></p>
    </body>
</html>

