{% extends "layout.html" %}
{% block content %}
    <body>
    <table id="table">
        <tr>
            <td colspan="2">
                <h1>~/Ask Mate 3.0/~</h1>
            </td>
            <td>
                <form action="/search" method="get">
                    <input id="sized" type="text" placeholder="Search.." name="search_key">
                    <button type="submit">SEARCH</button>
                </form>
            </td>
            <td colspan="4">
                <button>LOGIN</button>
                <button>REGISTER</button>
            </td>
        </tr>
    </table>
    <table id="table">
        <tr>
            <td colspan="7">
                <h1 align="left">~/{{ header }}/~</h1>
                <a href="{{ url_for('all_questions') }}">
                    <button type="button">Show all questions</button>
                </a>
            </td>
        </tr>
        <tr>
            <td>{% for question in questions %}
                <p><a href="/question/{{ question.id }}" id="list">{{ question.title }}</a></p>
            {% endfor %}</td>
        </tr>
        <tr>
            <td>
                <a href="/add-question">
                    <button type="button">Add new question</button>
                </a>
            </td>
        </tr>
    </table>
    </table>
    </body>
{% endblock %}


