<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Ask Mate v2.0</title>
    </head>
    <body>
        <div class="content">
            {% block header %}
                <table id="table">
                    <tr>
                        <td colspan="2">
                            <h1>~/Ask Mate 3.0/~</h1>
                        </td>
                        <td>
                            <form action="/search" method="get">
                                <input id="sized" type="text" placeholder="Search.." name="search_key">
                                <button type="submit">SEARCH</button>
                            </form>
                        </td>
                        <td colspan="4">
                            {% if login == None %}
                                <a href="/login"><button>LOG IN</button></a>
                            {% else %}
                                <a href="/logout"><button>LOG OUT</button></a>
                            {% endif %}
                            <a href="/registration"><button>REGISTER</button></a>
                            <a href="/list_users"><button>USERS</button></a>
                        </td>
                    </tr>
                </table>
            {% endblock %}
            {% block content %} {% endblock %}

        </div>
    </body>
</html>
