<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question details</title>
</head>
<body>
<table style="width: 100%" align="center">
    <thead>
    <tr>
        {% for header in headers %}
            <td>{{ header }}</td>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for question in question %}
            <td>{{ question }}</td>
        {% endfor %}

    </tr>
    <p><a href="/question/{{ question_id }}/new-answer"><button type="button">Add new answer</button></a></p>
    </tbody>

</table>

</body>
</html>