<!--JUST FOR TESTING THE USER REGISTRATION FEATURE-->

{% extends "layout.html" %}
{% block content %}
    <body>
    <table id="adding">
        <tr>
            <td>
                <h1 class="kacsa">~/Ask Mate 3.0/~</h1>
                <h2 id="text3">{{ title }}</h2>
                {% if alert == True %}
                    <h2 id="text3">Wrong username/password!</h2>
                {% endif %}
                <form method="post">
                    <p id="textlabel"><label for="add-user">User name:<br></label>
                        <input type="text" name="username" required></p>
                    <p id="textlabel"><label for="add-user">Password:<br></label>
                        <input type="password" name="password" required></p>
                        <input type="hidden" name="referrer" value={{ nexturl }}>
                    <p>
                        <button type="submit">{{ reg_or_log }}</button>
                        <a href="{{ nexturl }}">
                            <button type="button">BACK</button>
                        </a>
                    </p>
                </form>
            </td>
        </tr>
    </table>
    </body>
{% endblock %}


