<!--JUST FOR TESTING THE USER REGISTRATION FEATURE-->

{% extends "layout.html" %}
{% block content %}
<body>
    <h1 class="kacsa">Ask Mate 2.0</h1>
    <form method="post">
        <p id="textlabel"><label for="add-user">User name:<br></label>
            <input type="text" name="username" required></p>
        <p id="textlabel"><label for="add-user">Password:<br></label>
            <input type="text" name="password" required></p>
        <p><button type="submit">Go for it!</button></p>

    </form>
</body>
{% endblock %}


